.card {
    border: 1px solid orangered;
    margin: 1em;
    background: #000;
    color: #fff;
}
.card:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 5px 2px #FF4500;
    -moz-box-shadow: inset 0px 0px 5px 2px #FF4500;
    -webkit-box-shadow: inset 0px 0px 5px 2px #FF4500;
    -o-box-shadow: inset 0px 0px 5px 2px #FF4500;
}

.card-text>h5{
    color: #fff;
}
.card-text p{
    color: #fff;
}