.title {
    color: #ffffff;
    font: normal 150%/1 "bangers", Helvetica, sans-serif;
    text-shadow: 2px 2px 1px rgb(255 255 255 / 50%);
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #000000;
    font: normal 150%/1 "bangers", Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
    margin-top: 5px;
}

.text1 {
    font: normal 140%/1 "bangers", Helvetica, sans-serif;
}

.box {
    border: 1px solid darkred;
    background-color: black;
    border-radius: 5px;
    color: white;
    /* height: 30px; */
    /* margin: 3px; */
    text-align: center;
    /* padding-top: 2px; */
    /* padding: 5px; */
}
.box:hover {
    cursor: pointer;
    background-color: orangered;
}

.boxTitle {
    /* position: relative; */
    /* top: 0; */
    font: normal 120%/1 "bangers", Helvetica, sans-serif;
}

.active {
    background-color: orangered;
}

.backgroundPrimary {
    background-color: orangered;
}

.accordionButton {
    background: orangered;
    color: #fff;
    border: 1px solid #000;
}

.accordionButton:focus {
    background: orangered;
    color: #fff;
    box-shadow: none;
    /* border: none; */
    border: 1px solid #000;
}

.accordionButton:not(.collapsed) {
    background: orangered;
    color: #fff;
    box-shadow: none;
    border: 1px solid #000;
}

.accordionButton:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;

}